<h1 class="text-success text-center">Live Angular diretivas</h1>
<div [ngStyle]="{background:count<5 ? 'red' : 'green'}"
[ngClass]="{custom:count>5 }">
  <h2 class="text-center">Contador: {{count}}</h2>
</div>

<!---Diretivas Estruturais-->

<h2 *ngIf="count>7; else menor"> O contador passo de 7!</h2>

<ng-template #menor>
  
<h2 > O contador é menor que 7!</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-3"
    >
  <li class="list group-item"
  *ngSwitchCase="3"
  >É igual a 3</li>

  <li class="list group-item"
  *ngSwitchCase="5"
  >É igual a 5</li>

  <li class="list group-item"
  *ngSwitchCase="7"
  >É igual a 7</li>

  <li class="list group-item"
  *ngSwitchDefault="3"
  >este é o default</li>
  
</ul>

<ul class="list-group mx-auto col-3">
  <li 
    class="list group-item" 
    *ngFor="let pessoa of pessoas"
  >
    O nome da pessoa é: {{pessoa.nome}} {{pessoa.sobrenome}}  

  </li>

</ul>

<div class="col-4 mx-auto">
  <input type="text" class="form-control" placeholder="Digite alguma coisa"
    [(ngModel)]="text"
    >
  <h4>Saida:{{text}}</h4>
</div>

