<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Formulario de Usuarios</h1>
        <form>
           <div class="row my-4">
            <div class="col-6">
                 <div class="form-floating ">
                <input type="nome" class="form-control" id="floatingInput" placeholder="digite seu nome">
                <label for="floatingInput">Nome</label>
                
              </div>
            </div>
              <div class="col-6">
                <div class="form-floating ">
                 <input type="sobrenome" class="form-control" id="floatingInput" placeholder="digite seu sobrenome">
                 <label for="floatingInput">Sobrenome</label>
                </div>
              </div>
           </div>
            
             
           
           <div class="row my-4">
            <div class="col-6">
                <div class="form-floating  ">
                <input type="Idade" class="form-control" id="floatingInput" placeholder="digite sua idade">
                <label for="floatingInput">Idade</label>
                
              </div>
            </div>
            <div class="col-6">
            <div class="form-floating  ">
                <input type="Profissao" class="form-control" id="floatingInput" placeholder="digite Sua Profissao">
                <label for="floatingInput">Profissao</label>
             </div>
                </div>
              
                <div class="row my-4"></div>
                  <div class="form-group col-12 mt-4">
                    <button type="button" class="btn btn-outline-danger float-start">Cancelar</button>
                    <button type="button" class="btn btn-outline-success float-end">Enviar</button>
                  </div>
           </div>
        </form>
     </div>
</div>
